build
# https://stackoverflow.com/questions/73929564/entrypoints-object-has-no-attribute-get-digital-ocean
importlib-metadata<5
flake8
ipython
numpydoc
pytest>=4.2,<6
pyyaml
sphinx
twine~=1.12
pytest-benchmark
