[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
googleapis-common-protos = ">=1.5.3"
grpcio-tools = ">=1.16.0"
msgpack-python = ">=0.5.6"
notebook = "*"
pandas = ">=0.23.3"
requests = ">=2.19.1"

[dev-packages]
flake8 = "*"
ipython = "*"
numpydoc = "*"
pytest = "*"
pyyaml = "*"
sphinx = "*"
twine = "*"
